.logo--span {
    font-size: 6em;
}

.header--name,
.header--title {
    text-transform: uppercase;
    margin-bottom: 0.1em;
}

.main-image .responsive-img {
    margin-top: 0.5em;
}

.article--project .responsive-img {
    max-height: 155px;
}

@media screen and (min-width: 1190px) {
    .article--project .responsive-img {
        min-height: 155px;
    }
}

@media screen and (max-width: 600px) {
    .main--featured-work h4 {
        text-align: center;
        padding-bottom: 1em;
    }

    .article--project {
        margin-bottom: 2em;
    }

    .header--name {
        font-size: 2.5em;
    }
}

.fa {
    color: #9e9e9e;
    margin: 5px;
}